{% extends 'base.html' %}
{% load i18n static %}

{% block navbar %} {% include 'base.html' %} {% endblock %}

{% block body %}

<div class="container-fluid">

<!-- Landing | header area -->
    <div class="row header-image">
        {% if chosen_sermons %}
        {% for sermon in page_obj %}
        <div class="col-12 col-sm-5 col-md-4 mt-5 my-aut">
            {% for sermon in chosen_sermons %}
            <div class="card m-aut mt-4 bg-gradient-default ">
                <div class="card-header bg-transparent justify-content-between">
                        <div class="col-auto">
                            <div
                                    class="icon icon-shape bg-gradient-red float-right rounded-circle shadow"
                            >
                                <i class="ni ni-active-30"></i>
                            </div>
                        </div>
                    <div class="col-12">
                        <h6 class="text-light">
                            {% trans 'Chosen sermon' %}
                        </h6>
                        {% if sermon.sermon_name %}
                        <h5 class="text-light m-0">{{sermon.sermon_name}}</h5>
                        
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center mobile-b">
                        <audio controls preload="metadata" style="width: 100%; height: 30px">
                            {% if sermon.audio %}
                            <source src="{{ sermon.audio.url }}" type="audio/mpeg"/>
                            Your browser does not support the audio element.
                            {% elif sermon.video %}
                            <source src="{{ sermon.video.url }}" type="video/mp4"/>
                            Your browser does not support the audio element.
                            {% else %}
                            <div>No audio</div>
                            {% endif %}
                        </audio>
                    </div>
                </div>

                <!--pagination-->
                <div class="row justify-content-center text-center mt-2">
                    {% if page_obj.has_next %}
                    <a
                            href="?page={{ page_obj.next_page_number }}"
                            class="col sermon-pagination btn-sm"
                    >
                        <img src="{% static 'icons/rewind-btn.svg' %}" alt="..."/>
                    </a>
                    {% endif %} {% if page_obj.has_previous %}
                    <a
                            href="?page={{ page_obj.previous_page_number }}"
                            class="col sermon-pagination btn-sm"
                    >
                        <img
                                class="text-right"
                                src="{% static 'icons/fast-forward-btn.svg' %}"
                                alt="..."
                        />
                    </a>
                    {% endif %}
                </div>
                <!--Pagination end-->
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="header bg-gradient-primary top pb-6 pt-3">
    <div class="container-fluid py-4">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-12 col-sm-6 ">
                    <a
                        class="btn btn-sm btn-neutral mb-1"
                        href="{% url 'sermons' %}"
                    >{% trans 'All sermons' %}</a>
                    <a
                            class="btn btn-sm btn-neutral mb-1"
                            href="{% url 'other_sermons' %}"
                    >{% trans 'Sermons by other fathers' %}</a>
                </div>
                <div class="text-right col-12 col-sm-6 d-none  d-sm-block">
                    <h4 class="h4 text-white  mb-0">
                        {% trans "Father Pakhomius' official website" %}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Landing | header area end -->

<!-- Page content -->

{% if post %}
<div class="container-fluid mt--6">
    <div class="row justify-content-center ">
        <div class="col-sm-10  col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-7">
                            <!-- <h5 class="h5 mb-0">{% trans 'Topic of the week' %}</h5> -->
                            
                 <hh5 class="h5 mb-0">{{ post.title }}</h5>
                        </div>
                        <div class="col-5 text-right">
                            <a href="{% url 'articles' %}" class="btn btn-sm bg-gradient-red btn-dark border-0">{% trans 'See all topics' %}</a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4 d-flex p-3 px-4 justify-content-center">
                         {% if post.image %}
                         <img class="img-fluid px-2" src="{{ post.image.url }}"/>
                         {% else %}
                         <img class="img-fluid px-2" src="{% static 'images/ph.png' %}"/>
                         {% endif %}
                    </div>
                    <div class="col-md-8">
            
                {% if post.article %}
                    <p class="text-muted p-3"> {{ post.article }} </p>
                 {% endif%}

                </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="container-fluid mt-5 bottom bg-lighter mb-0">
    <div class="row justify-content-center pt-5 mt-5">
        <div class="col-sm-10 col-xl-8 mt-5">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 col-sm-4">
                            <h4 class="h4 text- ls-1 mb-1">{% trans 'Latest books' %}</h4>
                        </div>
                        <div class="col-12 col-sm-8 text-right float-right justify-content-right">
                            <a
                                    class="btn btn-sm bg-gradient-red btn-neutra btn-dark border-0 mb-1"
                                    href="{% url 'book_list' %}"
                            >{% trans 'Books by father Pahkomius' %}</a>
                            <a
                                    class="btn btn-sm bg-gradient-red btn-neutra btn-dark border-0 mb-1"
                                    href="{% url 'other_books' %}"
                            >{% trans 'Books by other fathers' %}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="my-4" id="latestBooks"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- Page content end -->

<div class="">{% block footer %} {% include "footer.html" %} {% endblock %}</div>

{% block scripts %}
<script>
        $(document).ready(function () {
          $("#latestBooks").load("latest_books");
          $("#post").load("last_post");
        });
</script>
{% endblock %}
