
{% load static i18n %}


{% block body %}
        <!-- <div class="card-body bg-transparent "> -->
            <table class="table-border w-100">
                {% for sermon in latest_sermons %}
                <tr>
                    <td class="">
                        <div class="row justify-content- ps-3 pe-3">
                            <h5 class="text-light" style="">{{ sermon.title }}</h5>
                            <audio controls class="bg-gradient- w-100" style="">
                                {% if sermon.audio %}
                                <source src="{{ sermon.audio.url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                                {% elif sermon.video %}
                                <source src="{{ sermon.video.url }}" type="video/mp4">
                                Your browser does not support the audio element.
                                {% else %}
                                <div></div>
                                {% endif %}
                            </audio>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        <!-- </div> -->

{% endblock %}

{% block scripts %}  {% endblock %}
