{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block navbar %} {% include 'base.html' %} {% endblock %}

{% block body %}

<div class="container-fluid py-5 justify-content-center">

    <!-- Content body -->
    
    <div class="row justify-content-center">
        <div class="col-sm-9 col-xl-8 justify-content-center">
            <div class="card mt-4 bg-lighter"
                 style="background-image:  url(/media/images/cross.png); background-position: center;">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-8">
                            <h5 class="h5 text-whit ls-1 mb-1">{% trans 'Sermons by other fathers' %}</h5>
                        </div>
                        <div class="col-12 col-sm-4 text-right float-right justify-content-right">
                            <a class="btn btn-sm bg-gradient-red btn-dark border-0"
                               href="{% url 'sermons' %}"
                            >{% trans 'Books by father Pakhomius' %}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table w-100 table-flush">
                        {% for sermon in other_sermons %}
                        <tbody>
                        <tr>
                            {% if sermon.title %}
                            <h6 class="h6">{{sermon.title}}</h6>
                            {% endif %}
                            {% if sermon.audio %}
                            <audio controls class="w-100">
                                <source src="{{ sermon.audio.url }}" type="audio/mpeg"/>
                                Your browser does not support the audio element.
                            </audio><br>
                            {% elif sermon.video %}
                            <audio controls class="w-100">
                                <source src="{{ sermon.video.url }}" type="video/mp4"/>
                                Your browser does not support the video element.
                            </audio><br>
                            {% else %}
                                 <div></div>
                            {% endif %}


                            {% if sermon.speaker %}
                            <small>{{ sermon.speaker }}</small><br>
                            {% endif %}

                            {% if sermon.category %}
                            <small>{% trans 'Category' %}: {{ sermon.category }}</small>
                            {% endif %}

                            {% if sermon.description %}
                            <details class="mt-2">
                                <summary  class="bg-gradient-red rounded text-center px-2" style="width:100px; color: #fff;">{% trans 'Summary' %}</summary>
                                <small class="text-muted mb-3">{{sermon.description}}</small>
                            </details>
                            {% endif %}

                            {% if book.external_link %} 
                            <p class="mt-2">
                                {% trans 'External link' %}: &nbsp; <a class="pdf-link " href="{{book.external_link}}">{{book.external_link}}</a>
                            </p>
                            {% endif %}
                        </tr>
                        </tbody>
                        <hr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Content body end-->

    <!-- Pagination -->
    {% if is_paginated %}
    <ul class="pagination row justify-content-center m-auto">
        {% if page_obj.has_previous %}
        <li class="">
            <a class="px-3 page-link"
               href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="disabled px-3 page-link"><span class="">&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span class="pagination-focus px-3 page-link">{{ i }} <span
                class="sr-only"> </span></span></li>
        {% else %}
        <li class=""><a class="page-link px-3" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="">
            <a class="page-link px-3"
               href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled px-3 text-whit page-link"><span class="">&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
    <!--Pagination end-->
</div>

{% endblock %}

{% block footer %}
<div style="margin-bottom: 0px"> {% include "footer.html" %}</div> {% endblock %}

{% block scripts %}  {% endblock %}
